.middle-bar-toggle {
    flex-grow: 1;
    flex-shrink: 1;
}

.category-view {
    flex-grow: 1;
}

.selected-layer-dropdown {
    margin-right: 3px;
}

.state-list--state-label {
    -unity-text-align: middle-left;
    margin-left: 5px;
}
