.topBar {
    flex-direction: row;
    padding-bottom: 5px;
}

.topBar__element {
    flex: 1;
}

.topBar__layerName {
    flex: 2;
}

.animationLayer {

}

.animationLayer__subSection {
    margin: 2px 0 2px 0;
}

.animationLayer__selectStateSection {
    flex-direction: row;
}

.animationLayer__selectStateSection__entry {
    width: 50%;
}

