.topBar {
    flex-direction: row;
    padding-bottom: 5px;
}

.topBar__element {
    flex: 1;
}

.topBar__layerName {
    flex: 2;
}

.animationLayer {

}

.animationLayer__subSection {
    margin: 0 0 0 0;
}

.animationLayer__statesHeader {
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px 1px 1px 1px;
    border-color: black;
}

.animationLayer__statesHeader__search {
    width: auto;
    flex-grow: 2;
}

.animationLayer__statesHeader__search__textInput {
    height: 16px
}

.animationLayer__editStatesSection {

}

.animationLayer__editStatesSection__stateSet {
    border-width: 0 1px 1px 1px;
    border-color: black;
}

.animationLayer__editStatesSection__stateSet__header {
    margin-left: 10px;
    -unity-font-style: bold;
    padding-top: 5px;
}

.animationLayer__editStatesSection__stateSet__state {
    margin-top: 5px;
}

.animationLayer__editStatesSection__stateSet__state__nameSection {
    flex-direction: row;
    justify-content: space-between;
}

.animationLayer__editStatesSection__stateSet__state__nameSection .unity-text-field {
    flex-grow: 1;
}

.animationLayer__editStatesSection__stateSet__state__nameSection__deleteButton {
    width: 25px;
}

.animationLayer__editStatesSection__stateSet__state__addButton {
    max-width: 100px;
/*
    margin: auto to center the element, but it breaks when displaying/hiding the ui
    margin: auto;
*/
}

.animationLayer__editStatesSection__stateSet__state:hover {
    background-color: #2A2A2A;
}

.animationLayer__editStatesSection__stateSet__state__toggleExpanded {

}

.animationLayer__editStatesSection__stateSet__state__toggleExpanded:hover {
    background-color: #202020;
}

.animationLayer__editStatesSection__stateSet__state__toggleExpanded .unity-label {
    margin: auto;
    width: 20px;
}

.label {
    margin: 1px 3px 1px 3px
}

.blendTree1D__entriesContainer {
    margin-left: 10px
}

.blendTreeEntry {

}

.blendTreeEntry__threshold {
    padding-left: 10px;
}

.blendTree1D__addEntryButton {
    max-width: 100px;
}

.horizontal-divider {
    width: auto;
    height: 0;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    margin: 5px 5px 5px 5px;
}